.blue {
  background-color: #6571ff;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.grey {
  background-color: grey;
}

select.form-control.selectStatus {
  color: #000000;
}
