<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Prospects</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Prospects</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="!!loading" [textData]="'Prospects'"></app-spinner>

        <h6 class="card-title">Prospects</h6>
        <span class="float-end badge bg-danger">{{ prospects.length }}</span>

        <div class="mb-3">
          <button
            class="btn btn-primary crop mb-2 mb-md-0 feather icon-user-plus"
            routerLink="/agent/add-agents"
          >
            Add Prospect
          </button>
        </div>
        <div class="table-responsive">
          <table id="dataTableAgentsDos" class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Document Type</th>
                <th>State</th>
                <th>Email</th>
                <th>Date Birth</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let prospect of prospects; trackBy: trackByProspectId"
              >
                <td>{{ prospect.firstName }}</td>
                <td>{{ prospect.lastName }}</td>
                <td>{{ prospect.documentType }}</td>
                <td>{{ prospect.state }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.dateBirth | date : "mediumDate" }}</td>
                <td>{{ prospect.phone }}</td>

                <td>
                  <select
                    class="form-control w140 selectStatus"
                    [(ngModel)]="prospect.status"
                    (change)="changeStatus(prospect)"
                    [ngClass]="statusColors[prospect.status]"
                  >
                    <option value="NEW">New</option>
                    <option value="PROGRESS">Progress</option>
                    <option value="NOT_INTERESTED">Not Interested</option>
                    <option value="CUSTOMER">Customer</option>
                  </select>
                </td>

                <td>
                  <button type="button" class="btn btn-primary">
                    <i class="feather icon-edit"></i>
                  </button>
                  <button
                    (click)="deleteProspect(prospect)"
                    type="button"
                    class="btn btn-danger"
                    data-original-title="Delete"
                  >
                    <i class="feather icon-x-square"></i>
                  </button>
                  <button type="button" class="btn btn-success">
                    <i class="feather icon-check-square"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
