.blue {
  background-color: #6571ff;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

select.form-control.selectStatus {
  color: #000000;
}
