<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Prospects</h5>

        <form
          class="forms-sample"
          (ngSubmit)="createProspect()"
          [formGroup]="prospectForm"
        >
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label required">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="(000) 000 00 00"
                  formControlName="phone"
                  (blur)="formatPhoneNumberField(prospectForm.get('phone'))"
                  [class.is-invalid]="isValid()"
                />

                <div *ngIf="!!isValid()" class="invalid-feedback">
                  <div
                    *ngIf="
                      prospectForm.get('phone')?.hasError('invalidPhoneNumber')
                    "
                  >
                    Please enter a valid 10-digit US phone number.
                  </div>
                  <div
                    *ngIf="prospectForm.get('phone')?.hasError('invalidFormat')"
                  >
                    Please enter a valid US phone number format: (123) 456-7890
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      isprospectFormSubmitted && formProspect.email.errors
                  }"
                />
                <div
                  *ngIf="
                    isprospectFormSubmitted &&
                    formProspect.email.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Required
                </div>
                <div
                  *ngIf="
                    formProspect.email.hasError('email') &&
                    formProspect.email.touched
                  "
                  class="invalid-feedback"
                >
                  The value entered does not correspond to an email.
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label required">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid':
                      isprospectFormSubmitted && formProspect.firstName.errors
                  }"
                />
                <div
                  *ngIf="
                    isprospectFormSubmitted &&
                    formProspect.firstName.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Required
                </div>

                <div
                  class="form-text text-danger"
                  *ngIf="
                    formProspect.firstName?.hasError('minlength') &&
                    formProspect.firstName?.touched
                  "
                >
                  The First Name does not have the minimum length allowed.
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Last Name </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                />

                <div
                  class="form-text text-danger"
                  *ngIf="
                    formProspect.lastName?.hasError('minlength') &&
                    formProspect.lastName?.touched
                  "
                >
                  The Last Name does not have the minimum length allowed.
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Occupation</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="occupation"
                />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Partner’s Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="partnerName"
                />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Partner’s last name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="partnerLastName"
                />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Partner’s Occupation</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="partnerOccupation"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Children </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="children"
                  placeholder="(Age, Occupation)"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Retirement Plans</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="retirementPlans"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Life Insurance</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lifeInsurance"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Properties</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="properties"
                  placeholder="Houses/properties (How many)"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Income</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="income"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Partner’s income</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="partnerIncome"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Additional Income</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="additionalIncome"
                />
              </div>
            </div>

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Surplus Income</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="surplusIncome"
                />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="mb-3">
                <label class="form-label">Observations</label>
                <textarea
                  class="form-control"
                  style="height: 100px"
                  placeholder="Leave a comment here"
                  formControlName="observations"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-danger mx-1" (click)="cancelEdit()">
              Cancel
            </button>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
