<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <div>
    <h4 class="mb-3 mb-md-0">Welcome {{ nameAgents }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Customers</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ customers.length }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Agents</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ agents.length }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Prospects</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ prospects.length }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Policy</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ policy.length }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row -->

<app-spinner
  *ngIf="!!loading"
  [textData]="'Agents, prospects y customers'"
></app-spinner>

<div class="row">
  <div class="col-lg-4 col-xl-3 grid-margin grid-margin-xl-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Agents</h6>
          <div ngbDropdown class="mb-2">
            <button
              ngbDropdownToggle
              class="btn p-0 no-dropdown-toggle-icon"
              type="button"
              id="dropdownMenuButton6"
            >
              <i
                class="icon-lg text-muted pb-3px"
                data-feather="more-horizontal"
                appFeatherIcon
              ></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i>
                <span class="">View</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="edit-2"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Edit</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="trash"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Delete</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="printer"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Print</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="download"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Download</span></a
              >
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div *ngFor="let agent of agents">
            <a
              href=""
              (click)="(false)"
              class="d-flex align-items-center border-bottom pb-3"
            >
              <div class="me-3">
                <img
                  [src]="agent.imageUrl"
                  [alt]="agent.firstName"
                  class="rounded-circle img-xs"
                />
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h6 class="text-body mb-2">
                    {{ agent.firstName }} {{ agent.lastName }}
                  </h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-xl-5 grid-margin grid-margin-xl-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Prospects</h6>
          <div ngbDropdown class="mb-2">
            <button
              ngbDropdownToggle
              class="btn p-0 no-dropdown-toggle-icon"
              type="button"
              id="dropdownMenuButton6"
            >
              <i
                class="icon-lg text-muted pb-3px"
                data-feather="more-horizontal"
                appFeatherIcon
              ></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i>
                <span class="">View</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="edit-2"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Edit</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="trash"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Delete</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="printer"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Print</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="download"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Download</span></a
              >
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="pt-0">Name</th>
                  <th class="pt-0">Phone</th>
                  <th class="pt-0">Email</th>
                  <th class="pt-0">Status</th>
                  <th class="pt-0">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prospect of prospects">
                  <td>{{ prospect.firstName }} {{ prospect.lastName }}</td>
                  <td>{{ prospect.phone }}</td>
                  <td>{{ prospect.email }}</td>
                  <td>{{ prospect.status }}</td>
                  <td>
                    <span
                      class="badge bg-info pointer"
                      (click)="moreInfoProspect(prospect)"
                      >More info</span
                    >
                  </td>

                  <td>
                    <span
                      class="badge bg-primary pointer"
                      (click)="salesPolicy(prospect)"
                      >Sales Policy</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-4 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Customers</h6>
          <div ngbDropdown class="mb-2">
            <button
              ngbDropdownToggle
              class="btn p-0 no-dropdown-toggle-icon"
              type="button"
              id="dropdownMenuButton7"
            >
              <i
                class="icon-lg text-muted pb-3px"
                data-feather="more-horizontal"
                appFeatherIcon
              ></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i>
                <span class="">View</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="edit-2"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Edit</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="trash"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Delete</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="printer"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Print</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i
                  data-feather="download"
                  appFeatherIcon
                  class="icon-sm me-2"
                ></i>
                <span class="">Download</span></a
              >
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th class="pt-0">First Name</th>
                <th class="pt-0">Last Name</th>
                <th class="pt-0">Phone</th>
                <th class="pt-0">Email</th>
                <th class="pt-0">Date Birth</th>
                <th class="pt-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.dateBirth | date : "mediumDate" }}</td>

                <td>
                  <span
                    class="badge bg-info pointer"
                    (click)="moreInfoCustomer(customer)"
                    >More info</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row -->
