<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Policy</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Policy</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="!!loading" [textData]="'Policy'"></app-spinner>

        <h6 class="card-title">Policy</h6>
        <span class="float-end badge bg-danger">{{ policies.length }}</span>

        <button
          class="btn btn-info float-end mx-2"
          (click)="exportAsXLSXFiltered()"
        >
          <i class="feather icon-download"></i> Filtered
        </button>

        <button class="btn btn-light float-end mb-3" (click)="exportAsXLSX()">
          <i class="feather icon-download"></i> Export
        </button>

        <div class="mb-3">
          <!-- Input de Searh -->
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            (input)="filterPolicity(busqueda.value)"
            #busqueda
          />
        </div>

        <div
          *ngIf="policies.length == 0"
          class="alert alert-primary"
          role="alert"
        >
          There are no policies registered under your agent code
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th (click)="sortPolicyBy('carrier')">
                  Carrier
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'carrier' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'carrier' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortPolicyBy('policyType')">
                  PolicyType
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'policyType' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'policyType' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortPolicyBy('monthly')">
                  Monthly
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'monthly' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'monthly' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortPolicyBy('faceAmount')">
                  Face Amount
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'faceAmount' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'faceAmount' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th>Customer</th>
                <th>Document</th>
                <th>View</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let policy of filteredPolicies;
                  trackBy: trackByPolicyId
                "
              >
                <td>{{ policy.carrier }}</td>
                <td>{{ policy.policyType }}</td>
                <td>
                  {{ policy.monthly }}
                </td>
                <td>
                  {{ policy.faceAmount }}
                </td>
                <td>
                  {{ policy.customer.firstName }}
                  {{ policy.customer.lastName }}
                </td>
                <td>
                  <p>
                    <a
                      [href]="photoIdUrl + policy?.document?.idPhoto"
                      target="_blank"
                      >Photo Id</a
                    >
                  </p>
                  <p>
                    <a
                      [href]="documentOneUrl + policy?.document?.document1"
                      target="_blank"
                      >Document One</a
                    >
                  </p>
                  <p>
                    <a
                      [href]="documentTwoUrl + policy?.document?.document2"
                      target="_blank"
                      >Document Two</a
                    >
                  </p>
                </td>

                <td>
                  <button
                    (click)="navigateWithQueryParams(policy.uid)"
                    type="button"
                    class="btn btn-primary"
                    data-original-title="See Policy"
                    title="View"
                  >
                    <i class="feather icon-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Carrier</th>
                <th>PolicyType</th>
                <th>Monthly</th>
                <th>Face Amount</th>
                <th>Customer</th>
                <th>Document</th>
                <th>View</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
