<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="d-block d-sm-none mt-4 text-center">
            <img src="assets/images/logo-mobile.png" width="50%" />
          </div>
          <div
            class="auth-side-wrapper"
            [ngStyle]="{
              'background-image': 'url(assets/images/logo.png)'
            }"
          ></div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >PHP<span> Agency</span></a
            >
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >TBH<span> THE BRAVE HEARTS</span></a
            >
            <h5 class="text-muted fw-normal mb-4">
              Welcome back! Log in to your account.
            </h5>
            <form
              class="forms-sample"
              id="loginForm"
              autocomplete="off"
              [formGroup]="loginForm"
              (ngSubmit)="login()"
            >
              <div class="mb-3">
                <label for="user" class="form-label">Agent Code</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="agentCode"
                  id="user"
                  placeholder="Agent Code"
                  [ngClass]="{
                    'is-invalid':
                      isLoginFormSubmitted && formLogin.agentCode.errors
                  }"
                />
                <div
                  *ngIf="
                    isLoginFormSubmitted && formLogin.agentCode.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Required
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="
                    formLogin.agentCode.hasError('minlength') &&
                    formLogin.agentCode.touched
                  "
                >
                  The Agent Code does not have the minimum length allowed.
                </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                  <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    class="form-control"
                    formControlName="password"
                    id="password"
                    autocomplete="current-password"
                    placeholder="Password"
                    [ngClass]="{
                      'is-invalid':
                        isLoginFormSubmitted && formLogin.password.errors
                    }"
                  />

                  <span
                    class="input-group-text"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="feather"
                      [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-off'"
                    ></i>
                  </span>
                </div>
                <div
                  *ngIf="
                    isLoginFormSubmitted && formLogin.password.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Required
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="
                    formLogin.password.hasError('minlength') &&
                    formLogin.password.touched
                  "
                >
                  The password does not have the minimum length allowed.
                </div>
              </div>
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  formControlName="remember"
                  class="form-check-input"
                  id="authCheck"
                />
                <label class="form-check-label" for="authCheck">
                  Remember me
                </label>
                <a [routerLink]="ROUTE_APP.RECOVER_ACCOUNT">
                  <span class="float-end pointer"> Forgot Password</span></a
                >
              </div>

              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
