<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Customers</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="!!loading" [textData]="'Prospects'"></app-spinner>

        <h6 class="card-title">Customers</h6>
        <span class="float-end badge bg-danger">{{ customers.length }}</span>

        <div class="mb-3">
          <button
            class="btn btn-primary crop mb-2 mb-md-0 feather icon-user-plus"
            (click)="newCustomer()"
          >
            Add Customer
          </button>
        </div>
        <div class="table-responsive">
          <table id="dataTableAgentsDos" class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Document</th>
                <th>State</th>
                <th>Email</th>
                <th>Date Birth</th>
                <th>Phone</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let customer of customers; trackBy: trackByCustomerId"
              >
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.documentNumber }}</td>
                <td>{{ customer.state }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.dateBirth | date : "mediumDate" }}</td>
                <td>{{ customer.phone }}</td>

                <td>
                  <button
                    (click)="editCustomer(customer)"
                    type="button"
                    class="btn btn-primary"
                    data-original-title="Edit"
                  >
                    <i class="feather icon-edit"></i>
                  </button>
                  <button
                    (click)="deleteCustomer(customer)"
                    type="button"
                    class="btn btn-danger"
                    data-original-title="Delete"
                  >
                    <i class="feather icon-x-square"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
