<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Customers</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="!!loading" [textData]="'Customers'"></app-spinner>

        <h6 class="card-title">Customers</h6>
        <span class="float-end badge bg-danger">{{ customers.length }}</span>

        <div class="mb-3">
          <button
            class="btn btn-primary crop mb-2 mb-md-0 feather icon-user-plus"
            (click)="newCustomer()"
          >
            Add Customer
          </button>
        </div>
        <div class="mb-3">
          <!-- Input de Searh -->
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            (input)="filterCustomers(busqueda.value)"
            #busqueda
          />
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th (click)="sortCustomersBy('firstName')">
                  Name
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'firstName' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'firstName' && orderType === 'desc'
                    }"
                  ></i>
                </th>

                <th (click)="sortCustomersBy('documentNumber')">
                  Document
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'documentNumber' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'documentNumber' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortCustomersBy('state')">
                  State
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'state' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'state' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortCustomersBy('email')">
                  Email<i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'email' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'email' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortCustomersBy('dateBirth')">
                  Date Birth<i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'dateBirth' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'dateBirth' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th (click)="sortCustomersBy('phone')">
                  Phone
                  <i
                    class="feather pointer"
                    [ngClass]="{
                      'icon-arrow-up':
                        orderField === 'phone' && orderType === 'asc',
                      'icon-arrow-down':
                        orderField === 'phone' && orderType === 'desc'
                    }"
                  ></i>
                </th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let customer of filteredCustomers;
                  trackBy: trackByCustomerId
                "
              >
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.documentNumber }}</td>
                <td>{{ customer.state }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.dateBirth | date : "mediumDate" }}</td>
                <td>{{ customer.phone }}</td>

                <td>
                  <button
                    (click)="editCustomer(customer)"
                    type="button"
                    class="btn btn-primary"
                    data-original-title="Edit"
                  >
                    <i class="feather icon-edit"></i>
                  </button>

                  <button
                    (click)="addPolicy(customer)"
                    type="button"
                    class="btn btn-success"
                    data-original-title="Add Policy"
                  >
                    <i class="feather icon-plus-square"></i>
                  </button>

                  <button
                    (click)="moreInfo(customer)"
                    type="button"
                    class="btn btn-info"
                    data-original-title="Info"
                  >
                    <i class="feather icon-info"></i>
                  </button>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <th>NAME</th>
                <th>DOCUEMNT</th>
                <th>STATE</th>
                <th>EMAIL</th>
                <th>DATE BIRTH</th>
                <th>PHONE</th>
                <th>ACTION</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
