<app-modal-image
  class="float-start"
  [user]="agent"
  [type]="'agents'"
  [showModal]="showModal"
  (closeModal)="showModal = false"
  (newImage)="actualizarImagen($event)"
></app-modal-image>

<div class="row profile-body">
  <div class="col-md-4 col-xl-3 left-wrapper mb-4">
    <div class="card rounded">
      <div class="card-body">
        <div>
          <img
            class="wd-70 rounded-circle cursor-pointer img-thumbnail"
            [src]="imageProfile"
            alt="profile"
            (click)="changeImage()"
          />
          <span class="h4 ms-3 text-dark">{{ firstName }} {{ lastName }}</span>
        </div>

        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Agent Code:</label>
          <p class="text-muted">{{ agentCode }}</p>
        </div>
        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Date Birth:</label>
          <p class="text-muted">
            {{ dateBirth | date : "mediumDate" : "UTC" }}
          </p>
        </div>
        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Lives:</label>
          <p class="text-muted">{{ state }}, {{ city }}</p>
        </div>

        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Email:</label>
          <p class="text-muted">{{ email }}</p>
        </div>

        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Role:</label>
          <p class="text-muted">{{ role }}</p>
        </div>

        <div class="d-flex justify-content-end rounded-bottom mt-4">
          <div>
            <button
              class="btn btn-primary btn-icon-text"
              (click)="editProfile()"
            >
              <i class="feather icon-edit btn-icon-prepend"></i> Edit profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-5 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <div>
              <h6 class="card-title">Account Security</h6>

              <div class="input-group mb-5">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                  [value]="email"
                  disabled
                />
                <button
                  (click)="updateEmail()"
                  class="btn btn-primary btn-icon-text"
                >
                  <i class="feather icon-edit"></i>
                </button>
              </div>
            </div>

            <div class="mt-2 border-top">
              <h6 class="card-title mt-4">Password</h6>
              <form
                id="agentForm"
                [formGroup]="changePasswordForm"
                (ngSubmit)="changePassword()"
              >
                <div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="oldPassword"
                      formControlName="oldPassword"
                      placeholder="Enter Current Password"
                      [ngClass]="{
                        'is-invalid':
                          isChangePasswordFormFormSubmitted &&
                          formChangePassword.oldPassword.errors
                      }"
                    />
                    <div
                      *ngIf="
                        isChangePasswordFormFormSubmitted &&
                        formChangePassword.oldPassword.errors?.required
                      "
                      class="invalid-feedback"
                    >
                      Required
                    </div>
                    <label
                      for="oldPassword"
                      class="form-label fw-light text-secondary"
                      >Enter current password</label
                    >
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="newPassword"
                      formControlName="newPassword"
                      placeholder="Enter new password"
                      [ngClass]="{
                        'is-invalid':
                          isChangePasswordFormFormSubmitted &&
                          formChangePassword.newPassword.errors
                      }"
                    />
                    <label
                      for="newPassword"
                      class="form-label fw-light text-secondary"
                      >Enter new password</label
                    >
                    <div
                      *ngIf="
                        isChangePasswordFormFormSubmitted &&
                        formChangePassword.newPassword.errors?.required
                      "
                      class="invalid-feedback"
                    >
                      Required
                    </div>
                    <div
                      class="form-text text-danger"
                      *ngIf="
                        (formChangePassword.newPassword.hasError('pattern') ||
                          formChangePassword.newPassword.hasError(
                            'minlength'
                          )) &&
                        formChangePassword.newPassword.touched
                      "
                    >
                      The password must be alphanumeric, have at least one
                      capital letter and a minimum of 8 digits.
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="newPasswordTwo"
                      formControlName="newPasswordTwo"
                      placeholder="Enter new password again"
                      [ngClass]="{
                        'is-invalid':
                          isChangePasswordFormFormSubmitted &&
                          formChangePassword.newPasswordTwo.errors
                      }"
                    />
                    <label
                      for="newPasswordTwo"
                      class="form-label fw-light text-secondary"
                      >Enter new password again</label
                    >

                    <div *ngIf="invalidPassword()" class="invalid-feedback">
                      Passwords must be the same
                    </div>
                  </div>

                  <div class="mt-3 float-end">
                    <button class="btn btn-primary btn-icon-text">
                      Change Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <h6 class="card-title">Image</h6>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <img
                class="cursor-pointer img-thumbnail"
                [src]="imageProfile"
                alt="profile"
                (click)="changeImage()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
