<div class="row profile-body">
  <!-- left wrapper start -->

  <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
    <div class="card rounded">
      <div class="card-body">
        <div>
          <img
            class="wd-70 rounded-circle"
            [src]="imageProfile"
            alt="profile"
          />
          <span class="h4 ms-3 text-dark">{{ firstName }} {{ lastName }}</span>
          <app-modal-image class="float-start"></app-modal-image>
          <div class="d-flex justify-content-end rounded-bottom">
            <div class="d-none d-md-block">
              <button class="btn btn-primary btn-icon-text">
                <i class="feather icon-edit btn-icon-prepend"></i> Edit profile
              </button>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Agent Code:</label>
          <p class="text-muted">{{ agentCode }}</p>
        </div>
        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Role:</label>
          <p class="text-muted">{{ role }}</p>
        </div>
        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Lives:</label>
          <p class="text-muted">{{ state }}, {{ city }}</p>
        </div>

        <div class="mt-3">
          <label class="tx-11 fw-bolder mb-0 text-uppercase">Email:</label>
          <p class="text-muted">{{ email }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- left wrapper end -->
  <!-- middle wrapper start -->
  <div class="col-md-6 col-xl-4 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <h6 class="card-title">Customer</h6>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle wrapper end -->
  <!-- right wrapper start -->
  <div class="col-md-6 col-xl-5 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <h6 class="card-title">Prospect</h6>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center hover-pointer">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <p>Mike Popescu</p>
                  <p class="tx-11 text-muted">12 Mutual Friends</p>
                </div>
              </div>
              <button class="btn btn-icon">
                <i class="feather icon-user-plus" ngbTooltip="Connect"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right wrapper end -->
</div>
