<button
  *ngIf="!hideFilters"
  type="button"
  class="btn btn-primary float-end mx-2"
  (click)="resetSelect()"
>
  Reset
</button>

<button
  type="button"
  class="btn float-end mx-1"
  [ngClass]="{ 'btn-primary': hideFilters, 'btn-secondary': !hideFilters }"
  (click)="toggleFilters()"
>
  {{ hideFilters ? "Show Filters" : "Hide Filters" }}
</button>

<div [ngClass]="{ 'with-margin-bottom': hideFilters }">
  <div class="d-flex flex-wrap container" *ngIf="!hideFilters">
    <div class="filter-controls col-12 col-md-4 mt-4 pe-2">
      <label for="search-input" class="form-label">Search:</label>
      <input
        type="search"
        class="form-control"
        placeholder="Search"
        (input)="onSearchData(searchInput.value)"
        #searchInput
      />
    </div>
    <ng-container *ngFor="let filterOption of filterOptions">
      <div class="col-12 col-md-4 pe-2 mt-4">
        <label for="{{ filterOption.field }}" class="form-label">
          {{ filterOption.label }}:
        </label>
        <select
          id="{{ filterOption.field }}"
          class="form-select"
          [(ngModel)]="filterOption.value"
          (change)="onFilterData()"
        >
          <option value="">All {{ filterOption.label }}</option>
          <option *ngFor="let option of filterOption.options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </ng-container>
  </div>
</div>
<hr [ngClass]="{ 'mt-4': !hideFilters }" />
