<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="d-block d-sm-none mt-4 text-center">
            <img src="assets/images/logo-mobile.png" width="50%" />
          </div>
          <div
            class="auth-side-wrapper"
            [ngStyle]="{
              'background-image': 'url(assets/images/logo.png)'
            }"
          ></div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >PHP<span> Agency</span></a
            >
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >TBH<span> THE BRAVE HEARTS</span></a
            >
            <h5 class="mb-4 fw-bold">Recover Account.</h5>
            <form
              class="forms-sample"
              id="passwordForm"
              autocomplete="off"
              [formGroup]="passwordForm"
              (ngSubmit)="changePassword()"
            >
              <div class="mb-3">
                <label for="user" class="form-label">Enter new password</label>
                <div class="input-group">
                  <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    class="form-control"
                    formControlName="password"
                    placeholder="Enter new password"
                    [ngClass]="{
                      'is-invalid':
                        formSubmitted && formChangePassword.password.errors
                    }"
                  />
                  <span
                    class="input-group-text"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="feather"
                      [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-off'"
                    ></i>
                  </span>
                </div>
                <div
                  *ngIf="
                    formSubmitted &&
                    formChangePassword.password.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Required
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="
                    (formChangePassword.password.hasError('pattern') ||
                      formChangePassword.password.hasError('minlength')) &&
                    formChangePassword.password.touched
                  "
                >
                  The password must be alphanumeric, have at least one capital
                  letter and a minimum of 8 digits.
                </div>
              </div>

              <div class="mb-3">
                <label for="user" class="form-label"
                  >Enter new password again</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="passwordTwo"
                  formControlName="passwordTwo"
                  placeholder="Enter new password again"
                  [ngClass]="{
                    'is-invalid':
                      formSubmitted && formChangePassword.passwordTwo.errors
                  }"
                />

                <div *ngIf="passwordInvalid()" class="invalid-feedback">
                  mostrar Passwords must be the same
                </div>
              </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                  type="button"
                  class="btn btn-secondary"
                  title="Cancel"
                  [routerLink]="ROUTE_APP.AUTH_LOGIN"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-primary" title="Submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
