<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Agents</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Agents</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="!!loading" [textData]="'Agents'"></app-spinner>

        <h6 class="card-title">Agents</h6>
        <span class="float-end badge bg-danger">{{ agents.length }}</span>

        <div class="mb-3">
          <a routerLink="/agent/add-agents">
            <button
              class="btn btn-primary crop mb-2 mb-md-0 feather icon-user-plus"
            >
              Add Agents
            </button>
          </a>
        </div>
        <div id="dataTableExample" class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Img</th>
                <th>Agent Code</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Email</th>
                <th>Active</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agent of agents">
                <td>
                  <img
                    [src]="agent.imageUrl"
                    [alt]="agent.firstName"
                    class="rounded-circle img-xs"
                  />
                </td>
                <td>{{ agent.agentCode }}</td>
                <td>{{ agent.firstName }}</td>
                <td>{{ agent.lastName }}</td>
                <td>{{ agent.city }}</td>
                <td>{{ agent.state }}</td>
                <td>{{ agent.zip }}</td>
                <td>{{ agent.email }}</td>
                <td>
                  <ng-container *ngIf="!!agent.active; else inactiveAgent">
                    <span class="badge bg-primary">Active</span>
                  </ng-container>
                  <ng-template #inactiveAgent>
                    <span class="badge bg-secondary">Inactive</span>
                  </ng-template>
                </td>

                <td>
                  <select
                    class="form-control w140"
                    [(ngModel)]="agent.role"
                    (change)="changeRole(agent)"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>

                <td>
                  <button type="button" class="btn btn-primary">
                    <i class="feather icon-edit"></i>
                  </button>
                  <button
                    (click)="deleteAgent(agent)"
                    type="button"
                    class="btn btn-danger"
                    data-original-title="Delete"
                  >
                    <i class="feather icon-x-square"></i>
                  </button>
                  <button type="button" class="btn btn-success">
                    <i class="feather icon-check-square"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
