<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Prospects</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      All Prospects - Administrator
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="!!loading" [textData]="'Prospects'"></app-spinner>

        <h6 class="card-title">Prospects - Administrator</h6>
        <span class="float-end badge bg-danger">{{ prospects.length }}</span>

        <div class="mb-3">
          <button
            class="btn btn-primary float-start mx-2"
            title="Add Prospect"
            (click)="newProspect()"
          >
            <i class="mdi mdi-account"></i>
            Add Prospect
          </button>

          <app-export-data
            [data]="exportData"
            [dataFiltered]="exportFiltredData"
            [nameFile]="'Export Data Prospects'"
          ></app-export-data>

          <app-filters
            [filterOptions]="filterOptions"
            (filterData)="filterProspect($event)"
            (searchQuery)="filterProspects($event)"
            (reset)="resetSelect()"
          ></app-filters>
        </div>

        <div
          *ngIf="prospects.length == 0"
          class="alert alert-primary"
          role="alert"
        >
          There are no prospects registered under your agent code
        </div>

        <div class="d-flex justify-content-center">
          <div class="table-responsive">
            <table class="table table-hover mx-auto">
              <thead>
                <tr>
                  <th (click)="sortProspectsBy('firstName')">
                    Name
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'firstName' && orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'firstName' && orderType === 'desc'
                      }"
                    ></i>
                  </th>
                  <th (click)="sortProspectsBy('email')">
                    Email
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'email' && orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'email' && orderType === 'desc'
                      }"
                    ></i>
                  </th>
                  <th (click)="sortProspectsBy('phone')">
                    Phone
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'phone' && orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'phone' && orderType === 'desc'
                      }"
                    ></i>
                  </th>
                  <th (click)="sortProspectsBy('occupation')">
                    Occupation
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'occupation' && orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'occupation' && orderType === 'desc'
                      }"
                    ></i>
                  </th>
                  <th (click)="sortProspectsBy('createdAt')">
                    Created
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'createdAt' && orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'createdAt' && orderType === 'desc'
                      }"
                    ></i>
                  </th>

                  <th (click)="sortProspectsBy('status')">
                    Status
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'status' && orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'status' && orderType === 'desc'
                      }"
                    ></i>
                  </th>

                  <th (click)="sortProspectsBy('agent.firstName')">
                    Agent
                    <i
                      class="feather pointer"
                      [ngClass]="{
                        'icon-arrow-up':
                          orderField === 'agent.firstName' &&
                          orderType === 'asc',
                        'icon-arrow-down':
                          orderField === 'agent.firstName' &&
                          orderType === 'desc'
                      }"
                    ></i>
                  </th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let prospect of filteredProspects
                      | paginate
                        : { itemsPerPage: itemsPerPage, currentPage: page };
                    trackBy: trackByProspectId
                  "
                >
                  <td>{{ prospect.firstName }} {{ prospect.lastName }}</td>
                  <td>{{ prospect.email }}</td>
                  <td>{{ prospect.phone }}</td>
                  <td>{{ prospect.occupation }}</td>
                  <td>
                    {{ prospect.createdAt | date : "mediumDate" : "UTC" }}
                  </td>

                  <td>
                    <select
                      class="form-control w140 selectStatus"
                      [(ngModel)]="prospect.status"
                      (change)="changeStatus(prospect)"
                      [ngClass]="statusColors[prospect.status]"
                    >
                      <option
                        *ngFor="let status of statusOptions"
                        [value]="status.value"
                      >
                        {{ status.name }}
                      </option>
                    </select>
                  </td>

                  <td>
                    {{ prospect.agent.firstName }} {{ prospect.agent.lastName }}
                  </td>

                  <td>
                    <button
                      (click)="editProspect(prospect)"
                      type="button"
                      class="btn btn-primary mx-1"
                      data-original-title="Edit"
                      title="Edit"
                    >
                      <i class="feather icon-edit"></i>
                    </button>

                    <button
                      (click)="moreInfo(prospect)"
                      type="button"
                      class="btn btn-info mx-1"
                      data-original-title="Info"
                      title="Info"
                    >
                      <i class="feather icon-info"></i>
                    </button>

                    <button
                      (click)="newCustomer(prospect)"
                      type="button"
                      class="btn btn-success mx-1"
                      data-original-title="Customer"
                      title="New Customer"
                    >
                      <i class="feather icon-plus-square"></i>
                    </button>

                    <button
                      (click)="deleteProspect(prospect)"
                      type="button"
                      class="btn btn-danger mx-1"
                      data-original-title="Delete"
                      title="Delete"
                    >
                      <i class="feather icon-x-square"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>NAME</th>
                  <th>EMAIL</th>
                  <th>OCCUPATION</th>
                  <th>PHONE</th>
                  <th>CREATED</th>
                  <th>STATUS</th>
                  <th>AGENT</th>
                  <th>ACTION</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <pagination-controls
            (pageChange)="page = $event"
            [autoHide]="true"
            [responsive]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
